<div class="promo-container">
  <div ng-style="bgColor" class="bg-color">
    <div class="container">
      <div ng-style="bgSloganPosition" class="slogan"></div>
      <div ng-style="bgPhonesPosition" class="phones"></div>
    </div>
  </div>
  <div class="promo-bottom">
    <div class="container">
      <div class="banner-container">
        <p>Encuentra lo que estás buscando por categorías o accede a nuevos anuncios de tu interés <b>suscribiéndote a grupos</b></p>
        <div class="stores-btns">
          <a href="https://play.google.com/store/apps/details?id=com.ebay.park&amp;hl=es_419" target="_blank" class="play-store"></a>
          <a href="https://itunes.apple.com/us/app/vivanuncios-clasificados-estados/id962230049?mt=8" target="_blank" class="app-store"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<viva-list-items items="items" open-modal="openShareModal" viva-loader='loading' city="city_canonical_name"></viva-list-items>
