<div ng-controller="PasswordForgotController">
  <div class="password-forgot-container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center mid-container">
        <h4>Forgot Password</h4>
        <form role="form" name="sendPassEmail" novalidate="novalidate">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <input type="email" placeholder="example@email.com" ng-model="email" required="required" class="form-control" />
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="sendPassEmail.$invalid" ng-click="sendEmail(email)" class="btn btn-block">Submit</button>
            </div>
            <div ng-show="sendPassEmail.$error.required" class="form-group">
              <div class="alert alert-danger">Empty fields!</div>
            </div>
            <div ng-show="sendPassEmail.$error.email" class="form-group">
              <div class="alert alert-danger">Invalid e-mail</div>
            </div>
            <div ng-show="sent" class="form-group">
              <div class="alert alert-success">E-mail sent</div>
            </div>
            <div ng-show="error" class="form-group">
              <div class="alert alert-danger">Verify your e-mail and try again</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
