<div ng-controller="PasswordResetController">
  <div class="password-reset-container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center mid-container">
        <h4>Password Reset</h4>
        <form role="form" name="resetPassForm" novalidate="novalidate" ng-submit="submit()">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <input type="password" ng-model="newPass" placeholder="New Password" required="required" class="form-control" />
            </div>
            <div class="form-group">
              <input type="password" ng-model="newPassVerify" placeholder="Re type New Password" required="required" ng-change="checkpassword()" class="form-control" />
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="!validpassword || resetPassForm.$error.required" class="btn btn-block btn btn-default">Submit</button>
            </div>
            <div ng-show="resetPassForm.$error.required" class="form-group">
              <div class="alert alert-danger">Empty fields</div>
            </div>
            <div ng-show="!validpassword" class="form-group">
              <div class="alert alert-danger">Passwords don't match</div>
            </div>
            <div ng-show="error" class="form-group">
              <div class="alert alert-danger">Error: Password hasn't changed</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
