<div class="container container-static">
  <div class="hero-unit justified js-content col-md-12">
    <div class="static-page-title">Normas de publicación en Vivanuncios</div>
    <br/>
    <div class="static-page-content long-page">
      <p>Estas son algunas normas generales que se deben seguir al publicar y responder a un anuncio:</p>
      <ol>
        <li>Tú eres responsable de garantizar el cumplimiento de todas las leyes aplicables relacionadas con los artículos o servicios que anuncies, compres o vendas en Vivanuncios.</li>
        <li>No se permiten anuncios que contengan artículos de nuestra lista de artículos prohibidos.</li>
        <li>Es posible que se rechacen anuncios o respuestas que contengan algún texto que viole el espíritu de Vivanuncios, que incluyan lenguaje discriminatorio o inapropiado o “discurso de odio, que sean amenazantes o abusivos, que infrinjan la privacidad de otro usuario o que pudiera perturbar, dañar u ofender a nuestros usuarios.</li>
        <li>Está prohibido publicar un artículo o servicio que no encuentre en EE. UU.</li>
        <li>Está prohibido publicar un anuncio duplicado o similar para el mismo artículo o servicio.</li>
        <li>No se permiten anuncios que de forma intencional sean engañosos, falaces, falsos, que contengan información errónea o en los que se utilicen tácticas de cambio de las condiciones ofrecidas.</li>
        <li>Solamente puedes publicar un anuncio por artículo, servicio (siempre que Vivanuncios incluya una categoría de servicios a cualquier hora) o trabajo (siempre que Vivanuncios incluya una categoría de trabajos a cualquier hora) en el área en donde se encuentra realmente el artículo, servicio o trabajo.</li>
        <li>Siempre que Vivanuncios incluya una categoría de trabajos a cualquier hora, los siguientes tipos de anuncios de trabajo están prohibidos en la categoría de trabajos (y también están prohibidos en el sitio):
          <ul>
            <li>marketing multinivel o esquemas piramidales;</li>
            <li>oportunidades de negocios o trabajo que venden productos que están en nuestra lista de artículos prohibidos;</li>
            <li>oportunidades de negocios o trabajo que requieran pagos adelantados o periódicos;</li>
            <li>oportunidades de negocios o trabajo que solo paguen comisiones, salvo que el anuncio aclare que la única fuente de remuneración serían las comisiones y describa claramente el producto o servicio que se vendería;</li>
            <li>oportunidades de negocios o trabajo para las que se deban reclutar otros miembros, distribuidores o agentes;</li>
            <li>anuncios que no sean claros respecto de qué tipo de trabajo requerirían;</li>
            <li>anuncios de empleos que mencionan preferencias o requisitos basados en la raza, el color, la religión, el sexo, la orientación sexual, el origen nacional, la edad o una discapacidad; siempre que Vivanuncios incluya una categoría de servicios a cualquier hora, la siguiente es una lista de anuncios que no están permitidos en la categoría de servicios (y que tampoco están permitidos en el sitio);</li>
            <li>anuncios de servicios con enlaces que violan nuestras políticas de enlaces;</li>
            <li>servicios de representantes que violan nuestras políticas sobre trabajos;</li>
            <li>servicios con contenido adulto de cualquier naturaleza;</li>
            <li>anuncios de servicios de masajes que incluyan cualquiera de lo siguiente: sexo, edad, etnia; descripción física, medidas corporales, que ofrezcan masajes para personas de un sexo específico o que contentan fotografías (las fotografías personales deben ser de buen gusto; las fotografías de personas que no estén completamente vestidas o que exhiban poses sugerentes se eliminarán). El anuncio no debe contener palabras o frases sugerentes ni ofrecer ningún otro servicio sexual/para adultos prohibido, de lo contrario se eliminará;</li>
            <li>anuncios que violen cualquier otra política.</li>
          </ul>
        </li>
        <li>Por lo general, permitimos enlaces bajo las siguientes condiciones:
          <ul>
            <li>que contengan enlaces a información/imágenes adicionales del producto;</li>
            <li>que publiquen un anuncio de un solo artículo, trabajo o servicio con un enlace comercial a servicios comerciales o sitios web (consulta nuestras políticas sobre servicios y ventas antes de publicar);</li>
            <li>que el fin exclusivo del enlace no sea dirigir más tráfico a su sitio web;</li>
            <li>que no publiques enlaces a otro sitio de anuncios clasificados;</li>
            <li>en en cuenta que no se podrá hacer clic en dichos enlaces y que tu anuncio también debe cumplir con el resto de las políticas del sitio.</li>
          </ul>
        </li>
        <li>Solo deberías publicar tu anuncio en la categoría más relevante. Si publicas el mismo anuncio en más de una categoría, el anuncio se eliminará de Vivanuncios.</li>
        <li>Está prohibido usar múltiples cuentas para publicar.</li>
        <li>Está prohibido publicar pornografía, desnudez u otro material relacionado con ello que sea obsceno o con contenido adulto de cualquier naturaleza.</li>
        <li>Está prohibido publicar anuncios relacionados con eventos o servicios personales, de citas o con contenido adulto, conexiones perdidas o servicios para adultos.</li>
        <li>Está prohibido infringir los derechos de terceros. Esto incluye, con carácter enunciativo mas no limitativo, infringir derechos de propiedad intelectual como derechos de autor y marcas comerciales.</li>
        <li>Está prohibido publicar anuncios cuyo único fin se enviar tráfico a otro sitio web. Los anuncios deben describir un artículo o servicio específico para que puedan publicarse en el sitio. Si incluyes código HTML en tu anuncio, este no funcionará y el anuncio podría ser eliminado.</li>
        <li>Está prohibido publicar palabras clave en tu aviso con el fin de aumentar su visibilidad en los resultados de la búsqueda.</li>
        <li>Esta estrictamente prohibido el uso del contenido o de la funcionalidad de Vivanuncios para enviar correos electrónicos no solicitados o para contactar de cualquier manera no solicitada a sus usuarios.</li>
        <li>Nos reservamos el derecho a recategorizar todo anuncio publicado en Vivanuncios.</li>
        <li>Las normas pueden cambiar periódicamente para reflejar el continuo compromiso de Vivanuncios a proveer la mejor experiencia posible, y la más segura, para sus usuarios. Nos reservamos el derecho a hacer cumplir estas normas a nuestra entera discreción y podremos cambiarlas en cualquier momento. Vivanuncios se reserva el derecho a eliminar cualquier anuncio en cualquier momento a su entera discreción. Al publicar un anuncio en el sitio, entiendes y aceptas estas normas.</li>
      </ol>
      <div class="static-page-subtitle">Lista de artículos prohibidos de Vivanuncios</div>
      <p>La siguiente es una lista parcial de lo que no se puede publicar en Vivanuncios. Vivanuncios se reserva el derecho de eliminar un anuncio a su entera discreción y de modificar esta lista en cualquier momento:</p>
      <ul>
        <li>Anuncios en los que se soliciten donaciones, salvo que sean para una entidad de beneficencia registrada.</li>
        <li>Anuncios que ofrezcan o busquen adoptar a un ser humano.</li>
        <li>Anuncios con contenido adulto de cualquier naturaleza (incluidos, de manera enunciativa mas no limitativa: juguetes para adultos, revistas para adultos, servicios para adultos, servicios de acompañantes, masajes para adultos, trabajos para adultos, sitios web de citas y anuncios personales).</li>
        <li>Boletos aéreos que no se puedan transferir y boletos de cualquier clase que no estés autorizado a vender.</li>
        <li>Bebidas alcohólicas.</li>
        <li>Animales / mascotas</li>
        <li>Trampas para animales que pudieran considerarse inhumanas.</li>
        <li>Sangre, fluidos corporales y partes del cuerpo.</li>
        <li>Herramientas para cometer hurto.</li>
        <li>Venta de teléfonos celulares o la oferta de un servicio para desbloquear o liberar (“jailbreak”) teléfonos que viole los cambios recientes en las leyes de EE. UU.</li>
        <li>Productos falsificados, réplicas o imitaciones de marcas.</li>
        <li>Cupones o tarjetas de regalo que no se puedan transferir y cupones o tarjetas de regalos que no estés autorizado a vender.</li>
        <li>Cunas (nuevas y usadas), salvo que cumplan con los nuevos estándares de seguridad federales impuestos por la Comisión de Seguridad de Productos del Consumidor (Consumer Product Safety Commission, CPSC). Solo se permiten las cunas fabricadas a partir de 2011. Si tu cuna se fabricó en 2011 o después de ese año y cumple con los estándares requeridos de seguridad, debes indicar en tu anuncio que la cuna se fabricó en 2011 o después de ese año y que cumple con dichos estándares (consulte el sitio web de la CPSC para más información).</li>
        <li>Equipo electrónico de vigilancia diseñado o utilizado principalmente para interceptar/grabar de manera ilícita las interacciones o los actos privados de otras personas sin su conocimiento o permiso.</li>
        <li>Bienes embargados.</li>
        <li>Especies en peligro de extinción o protegidas, o cualquier parte de una especie en extinción o protegida (como huesos/marfil, taxidermia, caparazones, pieles, etc.).</li>
        <li>Productos/alimentos vencidos (la fecha de vencimiento debe estar claramente indicada, salvo que el producto sea casero).</li>
        <li>Fuegos artificiales, dispositivos de destrucción y explosivos.</li>
        <li>Tarjetas de regalo de cualquier clase.</li>
        <li>Placas, uniformes, identificaciones, documentos y licencias de tránsito y gubernamentales.</li>
        <li>Materiales peligrosos, incluidos, a modo de ejemplo, materiales radioactivos, tóxicos y explosivos.</li>
        <li>Documentos de identidad, registros financieros personales y datos personales.</li>
        <li>Drogas ilícitas, sustancias controladas, sustancias y artículos utilizados para fabricar sustancias y drogas controladas y parafernalia de drogas.</li>
        <li>Servicios ilícitos.</li>
        <li>Telecomunicaciones y equipos electrónicos ilícitos, como tarjetas de acceso, detectores de contraseñas y todo tipo de dispositivo generador de interferencias, dispositivo de control de señales de tráfico, decodificadores de cable/satélite o cualquier dispositivo prohibido por la Comisión Federal de Comunicaciones (Federal Communications Commission, FCC).</li>
        <li>Artículos fabricados para las Fuerzas Armadas de Estados Unidos que no se hayan desechado de conformidad con las políticas de desmilitarización del Departamento de Defensa de EE. UU.</li>
        <li>Artículos comercializados de forma inapropiada con intolerancia hacia la religión, orientación sexual, raza o etnia.</li>
        <li>Artículos que no se puedan transferir (como boletos o cupones) y artículos que no estés autorizado a vender.</li>
        <li>Artículos que alienten o faciliten actividades ilícitas.</li>
        <li>Licencias de bebidas alcohólicas.</li>
        <li>Boletos de lotería, participaciones en concursos y máquinas tragamonedas que requieran dinero para funcionar.</li>
        <li>Anuncios de servicios de masajes que incluyan referencias a lo siguiente no están permitidos en Vivanuncios: sexo, edad, etnia, descripción física, orientación sexual, oferta de masajes exclusivo para un sexo específico o fotografías inadecuadas. No se permite nada más que no sea un servicio de masaje legítimo. Si tu anuncio no es claro acerca de la autenticidad de los servicios que se ofrecen, Vivanuncios se reserva el derecho a eliminarlo a su entera discreción.</li>
        <li>Materiales, obras de arte o fotografías que sean obscenos, que contengan desnudez (parcial o total), que sean pornográficos o que tengan contenido adulto o nocivo para menores de edad.</li>
        <li>Materiales que infrinjan derechos de autor, incluidos, de forma enunciativa mas no limitativa, software u otras mercancías digitales que no estés autorizado a vender.</li>
        <li>Artículos para conversiones totales de juegos (“mods”) y servicios de modificación.</li>
        <li>Fármacos de venta sin receta, fármacos que ofrezcan tratamientos engañosos o falsos, u ofertas de tratamientos que requieren la aprobación de la Administración de Medicamentos y Alimentos de EE. UU. (Food and Drug Administration, FDA).</li>
        <li>Materiales ofensivos.</li>
        <li>Pesticidas o materiales peligrosos.</li>
        <li>Fotografías o imágenes que contengan desnudez.</li>
        <li>Plantas e insectos que estén restringidos o regulados.</li>
        <li>Dispositivos y fármacos de venta con receta.</li>
        <li>Productos que se venden a través de representantes de empresas que violan nuestras políticas sobre servicios/trabajos.</li>
        <li>Prostitución o anuncios que ofrecen sexo, favores sexuales o actos sexuales a cambio de algo.</li>
        <li>Artículos que se han retirado de la venta pública (consulta el sitio web con información de productos retirados de la venta en EE. UU. para obtener más información).</li>
        <li>Acciones y otros títulos valores.</li>
        <li>Bienes robados.</li>
        <li>Tabaco y productos relacionados (por ejemplo, parches de nicotina, goma de mascar de nicotina, cigarros electrónicos, etc.).</li>
        <li>Ropa blanca y vestimenta usadas, salvo que estén sanitizadas de conformidad con la ley (nunca se permite ropa interior, trajes de baño y calcetines usados).</li>
        <li>Cosméticos o artículos de tocador usados (los artículos deben ser nuevos y estar sellados).</li>
        <li>Armas y artículos relacionados (incluidos, de manera enunciativa mas no limitativa, armas de fuego, revistas y todas las partes y accesorios, municiones, pistolas de aire comprimido y balines, gas lacrimógeno, pistolas Taser, pistolas de descarga eléctrica, cuchillos, espadas, pistolas de aire suave y todos los accesorios, ballestas, arcos y armas para artes marciales).</li>
      </ul>
    </div>
  </div>
</div>
