
<div class="container container-static static-error-page">
  <div class="hero-unit justified js-content col-md-12">
    <div class="static-page-title">
      <div class="sad-face"> </div>Producto no encontrado
    </div><br/>
    <div class="static-page-content">
      <p>El producto que estás buscando no pudo ser encontrado. Por favor, contacta a tu webmaster o inténtalo nuevamente.</p>
      <p>Usa el botón <b>atrás</b> de tu navegador para volver a la página previa, o puedes hacer tap en el siguiente botón.</p>
      <div class="back-home">
        <button ui-sref="home()" class="btn btn-follow">IR AL INICIO</button>
      </div>
    </div>
  </div>
</div>