
<div class="container container-static static-error-page">
  <div class="hero-unit justified js-content col-md-12">
    <div class="static-page-title">
      <div class="sad-face"> </div>No Autorizado
    </div><br/>
    <div class="static-page-content">
      <p>El Producto que estas buscando fue borrado, se encuentra pendiente de aprobación o ha expirado.</p>
      <div class="back-home">
        <button ui-sref="home()" class="btn btn-follow">IR AL INICIO</button>
      </div>
    </div>
  </div>
</div>