
<div class="container container-static static-error-page">
  <div class="hero-unit justified js-content col-md-12">
    <div class="static-page-title">
      <div class="sad-face"></div>Acceso denegado
    </div><br/>
    <div class="static-page-content">
      <p>Para poder usar esta funcionalidad es necesario que hayas ingresado con tu usuario.</p>
      <p>Usa el botón <b>Atrás</b> de tu navegador para volver a la página previa, ingresa con tus credenciales, e inténtelo nuevamente</p>
    </div>
  </div>
</div>