@media (max-width: 768px) {
  .error-messages {
    .titles.text-center {
      h3 {
        font-size: 7.2vw;
      }
      p {
        font-size: 4.8vw;
        line-height: 5.8vw;
      }
    }
  }
}
