DOCTYPE
head
  meta( charset="utf-8")
  meta( http-equiv="X-UA-Compatible" content="IE=edge")
  meta( name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" )

  base( href="/")
  link( rel="apple-touch-icon" sizes="57x57" href="../images/vivanuncios/favicons/apple-icon-57x57.png")
  link( rel="apple-touch-icon" sizes="60x60" href="../images/vivanuncios/favicons/apple-icon-60x60.png")
  link( rel="apple-touch-icon" sizes="72x72" href="../images/vivanuncios/favicons/apple-icon-72x72.png")
  link( rel="apple-touch-icon" sizes="76x76" href="../images/vivanuncios/favicons/apple-icon-76x76.png")
  link( rel="apple-touch-icon" sizes="114x114" href="../images/vivanuncios/favicons/apple-icon-114x114.png")
  link( rel="apple-touch-icon" sizes="120x120" href="../images/vivanuncios/favicons/apple-icon-120x120.png")
  link( rel="apple-touch-icon" sizes="144x144" href="../images/vivanuncios/favicons/apple-icon-144x144.png")
  link( rel="apple-touch-icon" sizes="152x152" href="../images/vivanuncios/favicons/apple-icon-152x152.png")
  link( rel="apple-touch-icon" sizes="180x180" href="../images/vivanuncios/favicons/apple-icon-180x180.png")
  link( rel="icon" type="image/png" sizes="192x192"  href="../images/vivanuncios/favicons/android-icon-192x192.png")
  link( rel="icon" type="image/png" sizes="32x32" href="../images/vivanuncios/favicons/favicon-32x32.png")
  link( rel="icon" type="image/png" sizes="96x96" href="../images/vivanuncios/favicons/favicon-96x96.png")
  link( rel="icon" type="image/png" sizes="16x16" href="../images/vivanuncios/favicons/favicon-16x16.png")
  link( rel="manifest" href="/manifest.json")
  meta( name="msapplication-TileColor" content="#ffffff")
  meta( name="msapplication-TileImage" content="/ms-icon-144x144.png")
  meta( name="theme-color" content="#ffffff")

  title( ng-bind-html="metadata.title|trusted")
  link( rel="canonical" href="")
  meta( name="description" content="")
  meta( name="keywords" content="")
  meta( name="title" content="")
  meta( name="robots" content="")
  link( rel="next" href="")
  link( rel="prev" href="")

  meta( property="delivery version" content='0.31')

  script( type="text/javascript") 
    | (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode".split(" "), 0);
  
  link( rel="stylesheet" href="css/app.min.css")
body
  nav(class="navbar top-header search-bar-container headerChangeBackground header_notHome_bg" )
    div(class="container top-header-container")
      div(class="col-sm-2 col-md-3 col-xs-3 main_title")
        div
          div(class="home-logo")
  div(class="wrap")
    div(class="container container-static static-error-page")
      div(class="hero-unit justified js-content col-md-12")
        div(class="static-page-title-mantainance")
          div(class="gears-face")
          div(class="title-error") Sitio en mantenimiento
        br
        div(class="static-page-content")
          p Estamos realizando tareas de mantenimiento para mejorar tu experiencia en Viva.
            br
            | Pronto estaremos nuevamente online. Gracias por tu paciencia.
          
          p Si tienes alguna consulta escríbenos a #[a(href="mailto:support@vivanuncios.us") support@vivanuncios.us]
