
div.container.container-static.static-error-page
  div.hero-unit.justified.js-content.col-md-12
    div.static-page-title
      div.sad-face
      | Acceso denegado
    br
    div.static-page-content
      p Para poder usar esta funcionalidad es necesario que hayas ingresado con tu usuario.
      p Usa el botón #[b Atrás] de tu navegador para volver a la página previa, ingresa con tus credenciales, e inténtelo nuevamente
