/*MARKETING SECTION*/
.marketing-section{
  margin-top: 60px;
  background:#e2393d;
  padding-bottom: 30px;
  color:white;
}
.marketing-description{
  padding: 5px;
  opacity: 0;
}
.marketing-titles{
  margin-bottom: 50px;
  margin-top: 30px;
}

.marketing-text{
  font-size: 13pt;

}
.marketing-text .glyphicon{
  font-size: 30pt;
}