.password-reset-container{
  h4{
    color: $password-reset-color;
    margin-top: 50px;
    margin-bottom: 33px;
  }
  .mid-container{
    height: 400px;
    max-width: 600px;
    background: white;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid rgba($password-reset-color, 0.2);
    button{
      height: 50px;
      background:rgba($password-reset-btn-color, 0.8);
      color: white;
    &:hover{
      background:rgba($password-reset-btn-color, 0.8);
      color: white;
    }
    }
  }
}