<div id="change-password-form" class="modal full-screen-modal">
  <div class="modal-dialog">
    <div class="modal-content col-md-9 col-sm-9 col-md-offset-3 col-xs-offset-2">
      <div class="modal-header">
        <div type="button" data-dismiss="modal" aria-hidden="true" class="back"></div>
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="title">Cambiar contraseña</div>
          <div class="panel-body">
            <form ng-submit="submit()" role="form" ng-hide="hasSuccess" class="col-md-12 form-horizontal">
              <div class="form-group">
                <input type="password" placeholder="Contraseña anterior" ng-model="currentPassword" ng-keyup="backendValidated = false" class="modal-form-input" />
                <div class="error-wrapper"></div>
                <input type="password" placeholder="Nueva contraseña" ng-model="newPassword" ng-keyup="backendValidated = false" maxlength="15" class="modal-form-input" />
                <div class="error-wrapper"></div>
                <input type="password" placeholder="Repetir contraseña" ng-model="newPasswordConfirm" ng-keyup="backendValidated = false" class="modal-form-input" />
                <div class="error-wrapper"></div>
              </div>
              <div class="form-group has-error"><span class="inline-error">{{error}}</span></div>
              <div class="modal-btns">
                <button type="button" data-dismiss="modal" class="btn btn-cancel">Cancelar</button>
                <button type="submit" ng-disabled="!enableConfirmBtn()" class="btn btn-confirm">Aceptar</button>
              </div>
            </form>
            <div ng-show="hasSuccess" class="modal-confirmation">
              <h2>¡Listo!</h2>
              <p>Tu contraseña ha sido actualizada exitosamente.</p>
              <button type="button" data-dismiss="modal" ng-click="showLoginForm()" class="btn btn-ok">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
