
<form ng-submit="recoverPasswordSubmit()" role="form" name="recoverPasswordForm" ng-show="recoverPasswordFormDisplayed" novalidate="novalidate" class="col-md-12 form-horizontal login-form">
  <div ng-hide="recoverPwdSuccess">
    <div class="modal-confirmation">
      <p>Ingresa tu e-mail y te enviaremos un correo con las instrucciones para restablecer tu contraseña</p>
    </div>
    <div class="form-group">
      <input type="email" placeholder="Ingresa tu e-mail" ng-model="recoverEmail" name="recEmail" required="required" class="modal-form-input"/>
      <div class="error-wrapper"><span ng-show="recoverPasswordForm.recEmail.$error.email" class="inline-error">Debes ingresar un e-mail válido</span></div>
    </div><span class="api-error"><span class="inline-error">{{recoverPwdError}}</span></span>
    <button type="submit" ng-disabled="recoverPasswordForm.$invalid" ng-class="{registerValidBt:!recoverPasswordForm.$invalid}" class="btn btn-user-register">Enviar correo</button>
  </div>
  <div ng-show="recoverPwdSuccess" class="modal-confirmation">
    <h2>¡Correo enviado!</h2>
    <p>Revisa tu casilla de entrada por un correo con las instrucciones para restablecer tu contraseña.</p>
    <button type="button" data-dismiss="modal" class="btn btn-ok">Ok</button>
  </div>
</form>