
<div class="row marketing-section text-center">
  <div class="col-md-12 marketing-titles">
    <h2>{{ 'MARKETING_SECTION.HOW_IT_WORKS' | translate }}</h2>
  </div>
  <div class="row marketing-text">
    <div class="col-md-6 col-md-offset-3">
      <div id="step-1" class="col-md-4 marketing-description"><span class="glyphicon glyphicon-camera"></span>
        <h3>{{'MARKETING_SECTION.LIST' | translate}}</h3>
        <p>{{'MARKETING_SECTION.SNAP_A_PHOTO_OF' | translate}}</p>
      </div>
      <div id="step-2" class="col-md-4 marketing-description"><span class="glyphicon glyphicon-comment"></span>
        <h3>{{'MARKETING_SECTION.MESSAGE' | translate}}</h3>
        <p>{{'MARKETING_SECTION.ACCEPT_AN_OFFER' | translate}}</p>
      </div>
      <div id="step-3" class="col-md-4 marketing-description"><span class="glyphicon glyphicon-user"></span>
        <h3>{{'MARKETING_SECTION.MEET' | translate}}</h3>
        <p>{{'MARKETING_SECTION.MEET_IN_A_PUBLIC' | translate}}</p>
      </div>
    </div>
  </div>
</div>