
<!-- OurFavorites**************-->
<div ng-if="!theresOurFavoritesItems() &amp;&amp; !loading" class="row">
  <div class="col-md-12">
    <div class="titles text-center"> 
      <p>{{ 'OUR_FAVORITES.DESCRIPTION' | translate }}</p>
    </div>
  </div>
  <div ng-controller="NoResultsController">
    <div ng-include="" src="'views/partials/no-results-location.html'"></div>
  </div>
</div>
<div ng-if="theresOurFavoritesItems()" class="row">
  <div class="col-md-12">
    <div class="titles text-center"> 
      <p>{{ 'OUR_FAVORITES.DESCRIPTION' | translate }}</p>
    </div>
  </div>
  <!-- Layout  1-2-1-->
  <div class="row ourfavorites-container js">
    <div class="col-md-8 col-md-offset-2">
      <div class="ad-container">
        <div class="row">
          <div ng-repeat="userAd in ourFavoritesList" class="col-md-6">
            <div class="ourfavorites-layout"><a ui-sref="item({itemId: userAd.id})"><span class="home-price">{{ userAd.price | vivaCurrency }}</span>
                <div afkl-lazy-image="{{userAd.id|itemImage}}" class="afkl-lazy-wrapper afkl-img-ratio-1-1"></div></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="hasMoreFavorites" ng-click="getOurFavoritesFiltered()" class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-load-more">Load More</button>
  </div>
</div>