div
  h1 Acerca
  p Vivanuncios es la primer aplicación de clasificados, 100% móvil, para el mercado latino en Estados Unidos.

  p Con Vivanuncios puedes vender, comprar, generar un dinero extra todos los meses, desde la comodidad de tu celular.

