extends layout

block bodyContent

  h1 Clasificados Vivanuncios Estados Unidos. Anuncios Gratis.
  p Clasificados. Baja la App, Vende y Gana Dinero. Publica tu clasificado gratis. Vivanuncios Estados Unidos.
  img(src='/images/logo-viva.png')
