div
  section
    h1 Índice

    ul
      li #[a(href="#general") Aviso de privacidad]
      li #[a(href="#cookieWebTechnology") Cookies, balizas Web y tecnologías similares]
      li #[a(href="#importantInfo") Notificación de privacidad y condiciones de uso de la aplicación Vivanuncios]
      li #[a(href="#mobile") Aviso legal y de privacidad de Vivanuncios Móvil]

  section
    h2(id="general") Aviso de privacidad

    h3 Información Genral

    p Este aviso de privacidad describe la política de Vivanuncios acerca de cómo se recopilan, usan, almacenan, comparten y protegen tus datos personales ("Aviso de privacidad"). Este Aviso de privacidad se aplica a Vivanuncios y a todos los sitios web, aplicaciones, herramientas y servicios relacionados en los que se hace referencia a este aviso (de forma colectiva, "Servicios"), independientemente de cómo accedas a los Servicios, incluido el acceso a través de dispositivos móviles. Marktplaats B.V.. una compañía del grupo eBay, es la responsable de los datos.

    p Alcance y consentimiento: al usar los Servicios otorgas tu consentimiento explícito a Vivanuncios para poder recopilar, utilizar, divulgar y retener tus datos personales, tal como se describe en este Aviso de privacidad y en nuestras Condiciones de uso

    p Podemos cambiar este Aviso de privacidad periódicamente. Te recomendamos leerlo regularmente. Te informaremos acerca de todo cambio importante realizado a nuestro Aviso de privacidad. El Aviso de privacidad modificado entrará en vigor 30 días después de su publicación.

    p Vivanuncios es parte de eBay Inc. y, por lo tanto, está sujeta a los estándares globales de privacidad de eBay Inc. (Normas corporativas vinculantes). Puedes encontrar más información sobre cómo gestionamos tus datos personales y tu privacidad en las Normas corporativas vinculantes, a las que puedes acceder en el Centro de privacidad de eBay.

    h3 Cuáles son los datos personales que recopilamos

    p Puedes usar nuestros Servicios sin registrarte para obtener un cuenta. Cuando decides proporcionarnos tus datos personales, aceptas que estos se envíen y se guarden en nuestros servidores. Recopilamos los siguientes datos personales:

    ul
      li Información que recopilamos automáticamente: cuando visitas nuestro sitio web, usas nuestros Servicios o respondes a avisos u otro tipo de contenido, recopilamos automáticamente los datos que recibimos desde tu computadora, dispositivo móvil u otro equipo que brinde acceso. Estos datos incluyen, entre otros:
        ul
          li información de tu interacción con nuestro sitio web y nuestros Servicios, incluidos, entre otros, la identificación del dispositivo y el tipo de dispositivo, los datos de la ubicación geográfica, información sobre la computadora y la conexión, datos estadísticos sobre las páginas vistas, el tráfico desde y hacia la aplicación o el sitio web, la URL de referencia, los datos del anuncio, la dirección IP y la información estándar del registro web; y los datos que recopilamos mediante cookies, balizas web y tecnologías similares.

      li Información que tú nos proporcionas: recopilamos y almacenamos toda información que nos proporcionas al usar nuestros Servicios. Estos datos incluyen, entre otros:

      li Información de otras fuentes: es posible que recibamos o recopilemos información adicional sobre ti provista por terceros y que la agreguemos a nuestra información de la cuenta. Esta información incluye, entre otros: datos demográficos, datos de navegación e información de contacto adicional así como datos acerca de ti provenientes de otras fuentes, tal como autoridades públicas, en la medida que la ley lo permita.

    h3 Cómo usamos los datos personales

    p Aceptas que podamos utilizar tus datos personales (ver arriba) para los siguientes fines:

    ul
      li para brindarte acceso a nuestros Servicios y prestar de Atención al cliente mediante correo electrónico o teléfono;
      li para prevenir, detectar e investigar posibles actividades prohibidas o ilegales, fraude e infracciones a la seguridad, así como para hacer cumplir nuestras Condiciones de uso
      li para personalizar, medir y mejorar nuestros Servicios, contenido y anuncios;
      li para contactarte por correo electrónico, mediante notificaciones del sistema, mensajes de texto (SMS) o por teléfono para hacerte preguntas sobre nuestros Servicios y los servicios de las empresas que integran "el grupo corporativo" de eBay Inc. (en adelante, "Grupo eBay") con el fin de llevar a cabo actividades focalizadas de marketing, actualizaciones y ofertas de promociones basadas en tus preferencias de mensajes (si corresponde), o para cualquier otro fin conforme a lo establecido en este Aviso de privacidad;
      li para brindarte otros servicios que hayas solicitado, como se describió cuando recopilamos los datos.

    p Compartir información con sitios web de redes sociales y el registro en dichas redes: podemos ofrecer servicios de inicio de sesión que te permiten acceder a nuestros Servicios con tus credenciales de acceso. También podemos ofrecer servicios que te permitan compartir información con sitios web de redes sociales de terceros como Facebook, Google Plus y Twitter.

    p Si nos permites el acceso a tus datos personales almacenados en los sitios web de terceros, el alcance del acceso a estos datos personales variará y dependerá del sitio web y será determinado tanto por la configuración de tu navegador como por tu consentimiento. Si deseas conectar la cuenta que abriste con un tercero con la cuenta que tienes con nosotros y nos das tu consentimiento para que podamos acceder a la información de estas cuentas de terceros, aceptas que podamos recopilar, utilizar y almacenar información de ese sitio web de terceros de acuerdo con este Aviso de privacidad.

    p Transferencia de tus datos personales a terceros: podemos divulgar tus datos personales a terceros de acuerdo con este Aviso de privacidad, la legislación y las regulaciones aplicables. Como se describe en detalle en "Propósitos de marketing", no divulgaremos tus datos personales a terceros para su uso por estos con fines de marketing si no contamos con tu consentimiento explícito. Podemos compartir tus datos personales con:

  ul
    li empresas del Grupo eBay para brindar contenido y servicios conjuntos (tal como registro y atención al cliente), prevenir, detectar e investigar posibles actividades ilegales, infracciones a nuestra política, fraude o incumplimiento a la seguridad de los datos; así como también para apoyar la toma de decisión en cuanto a productos, sitios web, aplicaciones, servicios, herramientas y comunicación. Las empresas del Grupo eBay utilizarán esta información solo para enviarte mensajes de marketing cuando tú mismo(a) les hayas solicitado sus servicios, y dichas empresas utilizarán tus datos personales de acuerdo con sus respectivas políticas de privacidad.
    li proveedores de servicios con los que tenemos un acuerdo para que nos ayuden a brindar nuestros Servicios en el sitio web, tal como proveedores de servicios financieros, agencias de marketing y de soporte técnico. En tales casos, los datos personales se mantendrán bajo nuestro control.
    li ciertos terceros (tales como titulares de derechos de propiedad intelectual, autoridades a cargo de supervisión, autoridades fiscales, de policía u otras autoridades regulatorias), si la ley nos lo exige o si debemos hacerlo conforme a nuestro Aviso de privacidad. Podemos compartir tus datos personales:
      ul
        li para cumplir con obligaciones legales o una orden judicial; o,
        li si fuera necesario, para prevenir o detectar delitos penales o entablar acciones judiciales por delitos penales, o bien
        li si fuera necesario para mantener nuestras políticas o para proteger los derechos y libertades de otros.
    li otros terceros cuando nos hayas dado consentimiento para compartir tu información mediante uno de los métodos mencionados arriba (por ejemplo: en el contexto de una cooperación);
    li el titular de un derecho de propiedad intelectual, si dicho titular o un intermediario de buena fe cree que un anuncio publicitario viola los derechos del titular. Antes de que se proporcionen los datos personales, el propietario de la dirección IP accederá a un acuerdo que, entre otras cosas, estipula que la información solo se provee bajo la estricta condición de que se use exclusivamente en el contexto de los procedimientos legales o para obtener asesoramiento legal o para responder a preguntas del anunciante en cuestión.

    p Si ocurre una fusión con otra empresa o una adquisición por parte de otra empresa, podemos compartir la información con tal empresa de acuerdo con nuestros estándares globales de privacidad. En caso de que se produzca tal evento, exigiremos que la nueva entidad combinada cumpla con este Anuncio de privacidad con respecto a tus datos personales. Si tus datos personales se van a utilizar o divulgar para cualquier otro fin que no esté comprendido en este Aviso de privacidad, recibirás una notificación previa sobre cómo se utilizarán tus datos personales en dichos casos.

    p No obstante lo anterior, adicionalmente (para respetar tu privacidad y al mismo tiempo mantener el sitio web libre de personas malintencionadas) no divulgaremos tu información personal a terceros sin una orden judicial o petición formal por parte del gobierno según lo estipule la ley, a menos que creamos, de buena fe, que tal divulgación sea necesaria para prevenir un daño inminente o daños financieros o bien, para denunciar supuestas actividades ilícitas.

    p Información que compartes al usar nuestros Servicios: nuestros Servicios permiten a los usuarios compartir anuncios publicitarios y otro tipo de información con otros usuarios, por consiguiente, otros usuarios tienen acceso a la información compartida. Dado que nuestra aplicación también te permite contactarte directamente con un vendedor o un comprador, te recomendamos que analices la manera en que compartes tus datos personales con otras personas. Solamente tú eres responsable de los datos personales que compartes mediante nuestros Servicios y, por lo tanto, no podemos garantizar la privacidad ni la seguridad de la información que compartas con otros usuarios.

    p En caso de que visites nuestros Servicios desde un dispositivo compartido, te recomendamos enfáticamente que cierres tu sesión al finalizar cada visita. Si no quieres que el dispositivo compartido recuerde tu información o tus credenciales, debes eliminar las cookies o el historial de visitas a los sitios web en el dispositivo.

    h3 Propósitos de marketing

    p Aceptas que usemos la información recopilada para enviarte ofertas, personalizadas o no, o que te llamemos por teléfono en relación con otros productos o Servicios que nosotros u otras empresas del Grupo eBay ofrezcamos.

    p No venderemos o alquilaremos tu información personal a terceros para fines de marketing sin tu consentimiento explícito. Podemos combinar tus datos con información que recopilemos de otras empresas y utilizarlos para mejorar y personalizar nuestros Servicios y funcionalidades.

    p Cuando ya no quieras que te enviemos información de marketing, puedes, cuando corresponda, cambiar tus preferencias; para ello, debes iniciar sesión en tu cuenta o hacer clic en el enlace para cancelar la suscripción que encontrarás en las comunicaciones de marketing que recibas.

    h3 Cookies

    p Cuando utilices nuestros Servicios, nosotros y nuestros proveedores de servicios podemos colocar cookies (archivos de datos en el programa de tu teléfono o dispositivo móvil) o balizas web (imágenes electrónicas que se colocan en el código de una página web) o tecnologías de seguimiento similares. Las cookies que usamos nos ayudan a identificarte como usuario y a proveerte una mejor experiencia de nuestros Servicios, a medir la eficacia de las promociones y a garantizar la confianza y seguridad de nuestros Servicios. Para obtener información más detallada acerca de cómo usamos estas tecnologías, consulta nuestra Política sobre cookies, balizas web y tecnologías similares.

    h3 Acceso, revisión y modificación de tus datos personales

    p No podemos modificar tu información personal o información de la cuenta. Puedes modificar tu propia información si inicias sesión en tu cuenta. Es posible que no puedas cambiar tus anuncios o eliminar tus mensajes cuando publicas un anuncio clasificado. Si quieres cerrar (cuando corresponda) la cuenta que abriste con nosotros, envíanos una solicitud. Procesaremos tu petición en un periodo de tiempo razonable y procesaremos tu información personal de acuerdo a la ley que corresponda. Podemos cobrar una tarifa a los efectos de compensar los costos; sin embargo, la tarifa no podrá exceder la cantidad permitida por ley. Si tus datos son incorrectos, incompletos o irrelevantes para los fines por los que procesamos tu información, puedes solicitar que modifiquemos o eliminemos tales datos. Si tienes alguna pregunta, contactanos y en el asunto indica: 'Solicitud de aviso de privacidad':

    ul
      li como se menciona en "Contacto" abajo; o
      li escribe a Marktplaats BV, Atención al cliente, Wibautstraat 224, 1097 DN Amsterdam, the Netherlands.

    h3 Protección y retención de tus datos personales

    p Protegemos tus datos mediante el uso de medidas de seguridad técnicas y administrativas (como firewalls, cifrado de datos y controles de acceso físicos y administrativos a los datos y a los servidores) que limitan los riesgos de pérdida, abuso, acceso no autorizado, divulgación y alteración. Sin embargo, si crees que tu cuenta se ha usado indebidamente, comunícate con nosotros. No retenemos tus datos personales más tiempo del permitido por ley y eliminamos estos datos cuando ya no se necesitan para los fines que se describieron anteriormente.

    h3 Otra información importante

    p Uso indebido y comunicaciones comerciales no solicitadas ("spam"): no toleramos que nuestros Servicios se usen de forma indebida. No tienes autorización para agregar otros usuarios a tu lista de correo (correo electrónico o postal) para fines comerciales, incluso si un usuario te ha comprado algo, a menos que el usuario te haya dado su consentimiento explícito para hacerlo. Si observas que alguien está usando indebidamente nuestro sitio web (correos electrónicos no solicitados o falsos), notifícanoslo.

    p No se permite utilizar los recursos de comunicación entre miembros para enviar spam (correo no solicitado) o contenido que de alguna manera infrinja nuestras Condiciones de uso. Por tu seguridad, es probable que escaneemos mensaje automáticamente y monitoreemos mensajes no solicitados o spam, virus, correos fraudulentos o actividades malintencionadas o ilegales o bien, contenido prohibido.

    p Terceros: salvo que se establezca explícitamente de otro modo en este Aviso de privacidad, éste se aplica solamente al uso y a la transferencia de información que recopilamos sobre ti. No tenemos control sobre las políticas de privacidad de terceros que puedan aplicar en tu caso. Cuando trabajamos con terceros o usamos las herramientas de terceros para brindar determinados servicios, indicaremos de manera explícita cuál es la política de privacidad que se aplica a tu información. Te recomendamos que aclares tus dudas antes de divulgar tus datos personales a otros.

    p Contacto: si tienes alguna pregunta sobre nuestros Servicios, comunícate con nosotros. Para obtener más información acerca de eBay Inc. y la manera en que eBay gestiona los datos personales y la privacidad, visita el Centro de privacidad de eBay.

    h2(id="cookieWebTechnology") Cookies, balizas Web y tecnologías similares

    h3 Resumen

    p Cuando visitas o utilizas nuestros sitios web, servicios, aplicaciones, herramientas o mensajería, nosotros, o nuestros proveedores de servicios autorizados, podríamos usar cookies, balizas Web y otras tecnologías similares para almacenar información con la finalidad de ofrecerte una mejor experiencia, más rápida y más segura, y para fines publicitarios.

    p Está página se ha diseñado para ayudarte a conocer mejor estas tecnologías, y cómo las usamos en nuestros sitios web, servicios, aplicaciones y herramientas. En esta sección resumimos ciertos aspectos importantes que debes conocer sobre cómo usamos estas tecnologías. Para más información, consulta nuestra Notificación sobre cookies completa más abajo.

    p Usamos cookies y tecnologías similares porque son necesarias para el funcionamiento de nuestros servicios, para ayudarnos a mejorar el rendimiento, para proporcionar funciones adicionales, o para ofrecerte publicidad personalizada y relevante. Usamos cookies y tecnologías similares que solo están en tu dispositivo mientras tu navegador esté activo (sesión), y cookies y tecnologías similares que permanecen en tu dispositivo más tiempo (persistentes). Puedes bloquear, eliminar o desactivar estas tecnologías si tu dispositivo lo permite. Para gestionar cookies y establecer tus preferencias utiliza la configuración de tu navegador o dispositivo.

    p Cuando es posible, establecemos medidas de seguridad para impedir el acceso no autorizado a nuestras cookies y tecnologías similares. Para asegurarnos de que solo nosotros, o nuestros proveedores de servicios autorizados tenemos acceso a los datos de cookies utilizamos identificadores únicos.

    p Los proveedores de servicios son empresas que nos ayudan en diversos aspectos de nuestro negocio, como, por ejemplo, a operar nuestros sitios web, servicios, aplicaciones, anuncios y herramientas. Trabajamos con ciertos proveedores de servicios autorizados que nos ayudan a ofrecerte anuncios personalizados en nuestros servicios y en otros sitios de Internet. Dichos proveedores de servicios pueden guardar cookies en tu dispositivo a través de nuestros servicios (cookies de terceros) y también pueden recopilar información que les ayude a identificar tu dispositivo, como, por ejemplo, tu dirección IP u otros identificadores únicos o de dispositivo.

    h3 Qué son las cookies, balizas Web y tecnologías similares

    p Como la mayoría de los sitios web y aplicaciones, usamos tecnologías que esencialmente son pequeños archivos de datos que se guardan en tu computadora, tablet, celular u otros dispositivos (denominados de forma genérica "dispositivo") que nos permiten registrar cierta información siempre que visites nuestros sitios web, servicios, aplicaciones, mensajería y herramientas, o trabajas con ellos.

    p Los nombres y tipos concretos de cookies, balizas Web y otras tecnologías similares que usamos pueden cambiar de vez en cuando. Para entender mejor esta notificación y nuestro uso estas tecnologías, consulta la siguiente lista no exhaustiva de terminología y definiciones:

    p Cookies: Son pequeños archivos de texto (contienen normalmente letras y números) que se guardan en la memoria de tu navegador o dispositivo cuando visitas un sitio Web o ves un mensaje. A través de ellas, un sitio Web puede reconocer un dispositivo o un navegador concreto. Existen varios tipos:

    ul
      li Cookies de sesión: Son cookies que caducan al final de la sesión de navegación y nos permiten vincular las acciones que realizas durante esa sesión particular.
      li Cookies persistentes: Son cookies que se almacenan en tu dispositivo entre sesiones de navegación y nos permiten recordar tus preferencias o acciones en varios sitios web.
      li Cookies propias: Son instaladas por la página web que visitas.
      li Cookies de terceros: Son instaladas por páginas web diferentes a la que visitas.

    p Casi todos los navegadores disponibles comercialmente tienen herramientas que permiten desactivar o eliminar cookies. Debes establecer por separado tus preferencias para cada navegador que uses y cada uno te ofrecerá funciones y opciones distintas.

    p Balizas Web-(también denominadas "etiquetas de píxel" o "GIF transparentes"): Son pequeñas imágenes gráficas que podemos usar en nuestros sitios, servicios, aplicaciones, mensajería y herramientas y que habitualmente se usan junto con las cookies para identificar a nuestros usuarios y su comportamiento.

    p Tecnologías similares: Son tecnologías que almacenan información en tu navegador o dispositivo utilizando "local shared objects" o almacenamiento local, como cookies Flash, cookies HTML 5 y otros métodos de software de aplicación Web. Estas tecnologías pueden operan en todos tus navegadores. En algunos casos no es posible gestionarlas totalmente a través del navegador y tendrás que utilizar directamente las aplicaciones que tengas instaladas o tu dispositivo para gestionarlas. No utilizamos estas tecnologías para almacenar información con la finalidad de proporcionar publicidad comportamental en nuestros sitios web o los de terceros.

    p Podemos usar los términos "cookies" y "tecnologías similares" indistintamente para referirnos a todas las tecnologías que podríamos usar para almacenar datos en tu navegador o dispositivo, o que recopilan información, o nos ayudan a identificarte en la forma anteriormente descrita.

    h3 Tus opciones y nuestro uso de cookies, balizas Web y tecnologías similares

    p Ofrecemos ciertas funciones, servicios, aplicaciones y herramientas de nuestro sitio web que solo están disponibles mediante el uso de estas tecnologías. Siempre tienes la opción de bloquear, eliminar o desactivar estas tecnologías si tu navegador, aplicación o dispositivo lo permiten. Sin embargo, si rechazas las cookies u otras tecnologías similares, quizá no puedas utilizar determinadas funciones, servicios, aplicaciones y herramientas del sitio web. Además, es posible que se te pida que introduzcas tu contraseña con más frecuencia durante la sesión de navegación. Para obtener más información sobre cómo bloquear, eliminar o desactivar estas tecnologías, revisa los ajustes de tu navegador o dispositivo.

    p Por lo general, estas tecnologías permiten que nuestros sitios web, servicios, aplicaciones y herramientas almacenen la información relevante en tu navegador o dispositivo y, posteriormente, la lean para identificarte en nuestros servidores o sistemas internos. Cuando es posible asignamos un identificador único a nuestras cookies y otras tecnologías similares para protegerlas. El identificador está diseñado para que solo nosotros o nuestros proveedores de servicios autorizados podamos interpretarlo. No almacenamos tus datos personales en ninguna de nuestras cookies o tecnologías similares.

    p Todos los datos personales que recopilamos y almacenamos con el uso de estas tecnologías se obtienen previa notificación y consentimiento. Proporcionamos esta explicación clara de como usamos estas tecnologías para obtener tu consentimiento y te ofrecemos la posibilidad de desactivarlas, como ya se ha explicado.

    h3 Los usos que hacemos de las tecnologías mencionadas se pueden clasificar en las siguientes categorías generales:

    ol
      li Necesarias por motivos de funcionamiento. Podemos utilizar cookies, balizas Web u otras tecnologías similares que son necesarias para el funcionamiento de nuestros sitios, servicios, aplicaciones y herramientas. Se incluyen las tecnologías que te permiten acceder a nuestros sitios web, servicios, aplicaciones y herramientas; que son necesarias para identificar comportamientos irregulares en el sitio, impedir actividades fraudulentas y mejorar la seguridad; o que te permiten utilizar nuestras funciones, como, por ejemplo, carros de compra, búsquedas guardadas, etc.
      li Relacionadas con el rendimiento. Podemos utilizar cookies, balizas Web u otras tecnologías similares para evaluar el rendimiento de nuestros sitios Web, aplicaciones, servicios y herramientas. Por ejemplo, podemos usarlas como parte de nuestras prácticas de análisis para saber cómo usan los usuarios nuestros sitios Web, determinar si has utilizado nuestra mensajería, determinar si has visto un artículo o vínculo, o mejorar el contenido, las aplicaciones, los servicios o las herramientas de nuestro sitio Web.
      li Relacionadas con la funcionalidad. Podemos utilizar cookies, balizas Web u otras tecnologías similares que nos permitan ofrecer mejor funcionalidad a los visitantes y usuarios de nuestros sitios web, servicios, aplicaciones o herramientas. Por ejemplo, podemos utilizarlas para identificarte cuando inicies sesión en nuestros sitios web o para dar seguimiento a las preferencias que especifiques, a tus intereses o los artículos que hayas visto en el pasado, a fin de mejorar el contenido de nuestros sitios web.
      li Relacionadas con anuncios o publicidad comportamental. Podemos usar nuestras cookies y balizas Web o las de terceros para proporcionar contenido, incluidos anuncios que se ajusten a tus intereses, en nuestros sitios web o en los de terceros. Esto incluye el uso de tecnologías para conocer la utilidad que te aportan los anuncios y el contenido que se te ha proporcionado, por ejemplo registrando si haces clic en un anuncio.

    p Para desactivar las cookies y balizas Web publicitarias de terceros consulta la sección "Agencias publicitarias y redes publicitarias comportamentales de terceros" abajo. La desactivacción no causa necesariamente que se dejen de ver anuncios, sino que hace que los anuncios que se ven no sean anuncios personalizados mediante el uso de cookies, balizas Web y otras tecnologías.

    p Si quieres desactivar todos estos tipos de tecnologías que empleamos en nuestros sitios web, servicios, aplicaciones o herramientas, puedes hacerlo bloqueándolos, eliminándolos o desactivándolos si tu navegador o dispositivo lo permite.

    h3 Uso de estas tecnologías por otros proveedores de servicios autorizados

    p Podemos trabajar con otras empresas, denominadas habitualmente proveedores de servicios, a quienes autorizamos para instalar cookies, balizas Web y otras tecnologías similares en nuestros sitios web, servicios, aplicaciones y herramientas con el fin de almacenar información con nuestro permiso. Estos proveedores de servicios nos ayudan a ofrecerte una experiencia mejor, más rápida y más segura.

    p Dichos proveedores de servicios pueden usar estas tecnologías para ayudarnos a proporcionar nuestro contenido y publicidad, y para recopilar datos estadísticos y analíticos anónimos sobre el sitio. No permitimos que ninguno de estos proveedores de servicios recopile tus datos en nuestros sitios web, servicios, aplicaciones o herramientas para ser usados por ellos. Estos proveedores de servicios firman acuerdos de confidencialidad con nosotros y están sujetos a otras restricciones legales en el uso o recopilación de datos personales. Las cookies de terceros están sujetas a las políticas de privacidad de los terceros.

    p Con la excepción del uso de estas tecnologías por parte de nuestros proveedores de servicios u otros terceros autorizados, no permitimos que se incluya contenido de terceros en nuestros sitios web (por ejemplo, anuncios de artículos, comunicaciones entre usuarios, anuncios clasificados, comentarios, opiniones, etc.) que incluya o utilice cookies, balizas Web, almacenamiento local o tecnologías similares para darte seguimiento o recopilar tus datos personales. Si crees que un anuncio u otro contenido de terceros está recopilando tus datos personales o utilizando tecnologías de seguimiento en uno de nuestros sitios web, denúncialo aquí.

    h3 Agencias publicitarias y redes publicitarias comportamentales de terceros

    p Podríamos trabajar con terceros, como, por ejemplo, agencias y redes publicitarias, que nos permiten proporcionarte anuncios. Estas agencias y redes publicitarias de terceros podrían utilizar cookies, balizas Web o tecnologías similares para recopilar información. También podrían recopilar el identificador de tu dispositivo, la dirección IP o el identificador para publicidad (IDFA). La información recopilada por estos terceros podría usarse para ayudarnos a proporcionarte publicidad personalizada en nuestros sitios web o en otros sitios web de Internet. Las cookies de terceros están sujetas a las políticas de privacidad de los terceros.

    p Para obtener más información sobre las cookies publicitarias de terceros y sobre cómo bloquearlas visita uno de los siguientes sitios Web de terceros:

    ul
      li http://www.youronlinechoices.eu
      li http://www.aboutads.info/choices (disponible solo en inglés).
      li http://www.networkadvertising.org/choices (disponible solo en inglés).

    h2(id="importantinformation") Notificación de privacidad y condiciones de uso de la aplicación Vivanuncios

    i Fecha de revisión: 13 de Marzo del 2015

    p Los derechos de autor sobre esta Aplicación y los Términos y Condiciones de uso y Notificación de Privacidad de la Aplicación pertenecen a eBay International AG (© 2015).
    p Al usar esta Aplicación Vivanuncios (en forma conjunta, la "Aplicación") usted acepta obligarse conforme a los Términos y Condiciones de Uso y Notificación de Privacidad de la Aplicación. Ciertas funciones de esta Aplicación pueden requerir que usted sea un usuario registrado de Vivanuncios. El uso de estas funciones y de esta aplicación está también sujeto a los Términos y Condiciones de uso y Notificación de Privacidad expuestos en la página web de Vivanuncios en su país. Dichos Términos y Condiciones de uso y Notificación de Privacidad puede encontrarlas aquí: Términos y Condiciones de Uso y Política de Cookies de Vivanuncios.us/legal (en forma conjunta, ellos comprenden los "Términos y Condiciones Aplicables").

    h2 Términos y condiciones de uso

    p Uso de la Aplicación. Autorizamos el uso de esta Aplicación solo para su uso personal. Usted no puede: (a) modificar, copiar, publicar, otorgar licencias, vender ni de otro modo comercializar esta Aplicación ni ninguna información relacionada con ella; (b) alquilar ni de otro modo transferir derechos sobre esta Aplicación; ni (c) utilizar esta Aplicación de manera que pueda perjudicar de algún modo cualquiera de nuestros sitios o interferir con el uso y aprovechamiento que una parte haga de ellos. Usted debe usar la Aplicación en conformidad con todas las leyes aplicables. Debe cumplir con los términos de contratos de terceros al usar la Aplicación (por ejemplo, su contrato de servicio inalámbrico de transmisión de datos). Su derecho a utilizar la Aplicación finalizará inmediatamente si usted incumple alguna disposición de estos Términos y Condiciones de Uso.

    p Esta Aplicación puede no contener la misma funcionalidad disponible en nuestros sitios de Internet.

    p Propiedad Intelectual. Somos los titulares, o licenciatarios, de todo derecho real o personal sobre esta Aplicación, incluidos todos los derechos de patentes, derechos de autor, secretos comerciales, marcas o los derivados de las leyes de lealtad comercial y cualquier otro derecho de propiedad intelectual, incluidas las aplicaciones, renovaciones, prórrogas y restauraciones de la Aplicación. Usted no podrá modificar, adaptar, traducir, preparar obras derivadas, descompilar, aplicar retroingeniería, desensamblar o de otra forma intentar obtener el código fuente de esta Aplicación. Además, no podrá retirar, oscurecer ni modificar el signo que indica nuestros derechos de autor, marcas u otros derechos de propiedad intelectual y que se encuentren anexados, incluidos o a los que se acceda conjuntamente con esta Aplicación o mediante ella.

    p Exclusión de Garantías. Declinamos toda responsabilidad por daños derivados del uso que usted realice de la Aplicación.

    p La Aplicación y los servicios a los que se accede mediante ella son provistos "en las condiciones en que se encuentran" o "como estén disponibles".

    p Expresamente nos eximimos, con el máximo alcance permitido por la ley, de otorgar toda garantía expresa, tácita o dispuesta por la ley, incluidas, entre otras, las garantías de comerciabilidad, de idoneidad para un fin específico y de no violación de los derechos de propiedad intelectual, así como también las garantías respecto a la seguridad, confiabilidad, puntualidad y oportunidad de la atención y rendimiento de esta Aplicación.

    p Usted utiliza esta Aplicación a su propio riesgo y arbitrio. Usted es el único responsable por daños a su hardware o por la pérdida de datos que pudiera resultar del uso de esta Aplicación.

    p Las actualizaciones y cualquier otra funcionalidad de notificación de esta Aplicación pueden no ocurrir en tiempo real. Dicha funcionalidad está sujeta a demoras que están fuera de nuestro control, incluidas, entre otras, las demoras o períodos de inactividad debidos a su ubicación física o a la red inalámbrica de su proveedor del servicio de transmisión de datos.

    p Limitación de la responsabilidad. NO SOMOS RESPONSABLES ANTE USTED NI NINGÚN USUARIO POR EL USO O MAL USO DE ESTA APLICACIÓN. LA LIMITACIÓN DE RESPONSABILIDAD: (A) INCLUYE LOS DAÑOS DIRECTOS, YA SEA QUE EL RECLAMO SE FUNDE EN RESPONSABILIDAD CONTRACTUAL, EXTRACONTRACTUAL, GARANTÍA, O EN OTRA CAUSA (AUN CUANDO HAYAMOS SIDO ADVERTIDOS DE LA POSIBILIDAD DE DICHOS DAÑOS); (B) INCLUYE LOS DAÑOS INDIRECTOS, INCIDENTALES, MEDIATOS, ESPECIALES, Y PUNITIVOS, SIN PERJUICIO DE QUE EL RECLAMO SE FUNDE EN RESPONSABILIDAD CONTRACTUAL O EXTRACONTRACTUAL, EN UNA GARANTÍA O EN OTRA CAUSA (AUN CUANDO HAYAMOS SIDO ADVERTIDOS DE LA POSIBILIDAD DE DICHOS DAÑOS); (C) SE APLICA TANTO SI LOS DAÑOS DERIVAN DEL USO O MAL USO O POR CONFIAR EN ESTA APLICACIÓN, DE LA INCAPACIDAD PARA USAR LA APLICACIÓN O DE LA INTERRUPCIÓN, SUSPENSIÓN O FINALIZACIÓN DE ESTA APLICACIÓN (INCLUIDOS LOS DAÑOS INCURRIDOS POR TERCEROS); Y (D) SE APLICA SIN PERJUICIO DE QUE NO SE CUMPLIERA EL OBJETIVO ESENCIAL DE UNA CLÁUSULA DE LIMITACIÓN DE LOS RECURSOS LEGALES DISPONIBLES, Y CON EL MÁXIMO ALCANCE PERMITIDO POR LA LEY. NADA EN ESTOS TÉRMINOS Y CONDICIONES DE USO SERÁ INTERPRETADO DE MODO DE LIMITAR O EXCLUIR NUESTRA RESPONSABILIDAD POR DECLARACIONES FALSAS REALIZADAS INTENCIONALMENTE, POR MUERTE O DAÑOS FÍSICOS RESULTANTES DE NUESTRA CULPA O NEGLIGENCIA O DE LA CULPA O NEGLIGENCIA DE NUESTROS AGENTES O EMPLEADOS O POR CUALQUIER OTRA RESPONSABILIDAD QUE NO PUEDA SER LIMITADA NI EXCLUIDA CONFORME A LA LEY. ADEMÁS, USTED NO TENDRÁ DERECHO A REQUERIRNOS EL PAGO DE INDEMNIZACIÓN ALGUNA POR DAÑOS MEDIATOS, LUCRO CESANTE, DAÑOS ESPECIALES, INDIRECTOS O INCIDENTALES.

    p Exención de Responsabilidad. USTED EXIMIRÁ DE RESPONSABILIDAD Y MANTENDRÁ INDEMNE A EBAY Y A SUS AFILIADAS, ASÍ COMO TAMBIÉN A LOS FUNCIONARIOS, DIRECTORES, REPRESENTANTES Y EMPLEADOS DE EBAY Y TAMBIÉN A LOS DE SUS SUBSIDIARIAS (CADA UNO DE LOS CUALES REFERIDO COMO EL "EXENTO DE RESPONSABILIDAD") POR TODO RECLAMO DE TERCEROS, ASÍ COMO TAMBIÉN POR TODA SUMA QUE DEBA ABONARSE A UN TERCERO EN VIRTUD DE UN ACUERDO TRANSACCIONAL O QUE DE OTRO MODO PUDIERE ACORDARSE U OTORGARSE AL TERCERO, ASÍ COMO TAMBIÉN POR LAS COSTAS LEGALES INCURRIDAS POR CUALQUIERA DE LOS EXENTOS DE RESPONSABILIDAD, QUE SURJAN O SE RELACIONEN CON EL USO QUE USTED HAGA DE ESTA APLICACIÓN, O DE TODA SUPUESTA VIOLACIÓN INCURRIDA POR USTED DE LOS TÉRMINOS APLICABLES O DE CUALQUIER LEY O REGLAMENTACIÓN APLICABLE. EBAY SE RESERVA EL DERECHO DE ASUMIR EN FORMA EXCLUSIVA LA DEFENSA Y CONTROL DE DICHO RECLAMO, PERO ELLO NO LO RELEVARÁ A USTED DE SUS OBLIGACIONES DE EXIMIRNOS DE RESPONSABILIDAD Y GARANTIZAR NUESTRA INDEMNIDAD.

    p Modificaciones a esta Aplicación o Términos y Condiciones de Uso. eBay México se reserva el derecho de realizar cambios en esta Aplicación o en sus Términos y Condiciones de Uso. Todo cambio sustancial tendrá efecto inmediato para los nuevos usuarios, en cambio, para los usuarios ya existentes dichos cambios tendrán efecto una vez transcurridos treinta (30) días de la notificación de los cambios.

    p Si no está de acuerdo con algún cambio, por favor desinstale y discontinúe el uso de esta Aplicación. La utilización de esta Aplicación una vez transcurrido el plazo de treinta (30) días posteriores a la notificación implica su aceptación de todo cambio.

    p Miscelánea. Las disposiciones de los Términos y Condiciones de Uso, de la Notificación de Privacidad y y de la Política de Cookies del sitio al que se accedió mediante esta aplicación también son aplicables al uso que usted haga de esta Aplicación. Usted es responsable del cumplimiento de las reglamentaciones comerciales y de las leyes locales y extranjeras. Usted declara y garantiza que no se encuentra en ningún país sujeto a un embargo impuesto por el Gobierno de los Estados Unidos de América, o que haya sido calificado por dicho gobierno como país que "presta ayuda al terrorismo"; declara y garantiza que usted no se encuentra en ninguna lista del Gobierno de los Estados Unidos de partes contratantes prohibidas o restringidas. Ni esta Aplicación ni la tecnología subyacente pueden ser descargadas, exportadas ni re-exportadas: (a) a (o a un residente o nacional de) Cuba, Irak, Irán, Libia, Corea del Norte, Siria o cualquier otro país sujeto a un embargo por los Estados Unidos; (b) a cualquiera incluido en la Lista de Nacionales Especialmente Designados, confeccionada por el Departamento del Tesoro de los Estados Unidos, o en la Lista de Partes o Entidades Denegadas, confeccionada por el Departamento de Comercio de los Estados Unidos; y (c) a un país, persona, usuario final o entidad prohibida conforme a lo estipulado por las Leyes de Exportación de los Estados Unidos.

    p Partes Contratantes y Notificaciones. La parte contratante es Marktplaats BV, Wibautstraat 224-2, 1097 DN Amsterdam, Países Bajos.

    p CONDICIONES ADICIONALES: Los términos y condiciones adicionales que se aplican a su caso (en base al equipo en el cual está instalada esta Aplicación):

    h2 Windows – Microsoft

    ol
      li El presente es un contrato entre usted y eBay México, y no Microsoft. Los términos y condiciones de uso y políticas de privacidad de Microsoft y, cuando correspondiere de los operadores de red que proveen los servicios de facturación para el Windows Phone Marketplace no se aplican a su uso de esta Aplicación.
      li Usted puede instalar y usar una copia de esta Aplicación en un máximo de cinco (5) equipos que le pertenezcan o controle de modo personal y que estén relacionados con la Identificación Windows Live ID asociada a su cuenta Windows Marketplace. Usted no puede instalar ni usar una copia de esta Aplicación en un equipo que no sea de su propiedad o no esté bajo su control.
      li Microsoft, el fabricante de su equipo y (si fuera aplicable) el prestador del servicio inalámbrico no son responsables de proporcionarle servicios de soporte para esta Aplicación.
      li Microsoft, el proveedor de la red inalámbrica mediante la cual se distribuye esta Aplicación (si correspondiera), y cada una de sus respectivas afiliadas y proveedores (en adelante, los "Distribuidores exentos") no otorgan garantía expresa relacionada con esta Aplicación. En la medida que sus leyes locales lo permitan, los Distribuidores exentos se eximen también de toda garantía implícita, incluidas las de comerciabilidad, idoneidad para un uso particular y la de ausencia de infracción.
      li Es usted, y no los Distribuidores Exentos, quien asume el riesgo por el uso de esta Aplicación (aún en caso de que se haya advertido a los Distribuidores Exentos de la posibilidad de que usted sufra daños). A usted pueden corresponderle derechos del consumidor adicionales conforme a las leyes locales que estos Términos y Condiciones de Uso no pueden modificar.
      li A menos que ello sea contrario a la ley, usted no intentará obtener de un Distribuidor Exento indemnización por daños mediatos, lucro cesante, daños especiales, indirectos o incidentales.

    h2 iOS – Apple

    ol
      li Este es un contrato celebrado entre usted y eBay, y no con Apple. Apple no es responsable por esta Aplicación y su contenido.
      li eBay México le otorga el derecho a usar esta aplicación solo en productos iOS que sean de su propiedad o que estén bajo su control y según lo permitan las Reglas de Uso estipuladas en las Condiciones de Servicio de App Store.
      li Apple no tiene ninguna obligación de proporcionar servicios de mantenimiento y soporte en relación con esta Aplicación.
      li Apple no es responsable por la investigación, defensa, solución y conclusión de un reclamo por infracción a los derechos de propiedad intelectual.
      li Apple no es responsable de ocuparse de los reclamos que usted o un tercero tenga en relación con esta Aplicación o con su tenencia y/o el uso que usted haga de ella, incluidos, entre otros: (a) reclamos por responsabilidad del fabricante; (b) reclamos sobre el incumplimiento de la Aplicación con los requisitos legales o regulatorios aplicables; y (c) reclamos surgidos conforme a la legislación de protección al consumidor o leyes similares.
      li En caso de que esta Aplicación no se ajustara a alguna de las garantías aplicables, usted podrá notificar de ello a Apple, quien le reintegrará el precio de compra, si correspondiera, de esta Aplicación; y con el alcance máximo permitido por la ley, Apple no tendrá ninguna otra responsabilidad por garantía en relación con esta Aplicación.
      li Apple y sus subsidiarias son terceros beneficiarios de estos Términos y Condiciones de Uso y Notificación de Privacidad y, una vez aceptadas por usted, Apple, como tercero beneficiario tendrá derecho (y se entenderá que ha aceptado tal derecho) a exigirle el cumplimiento de estos Términos y Condiciones de Uso.

    h2 BlackBerry – Research in Motion

    ol
      li Con el alcance permitido por sus leyes locales, Research in Motion E-Commerce (Inc., Corp. & S.a.r.l.), los operadores de telecomunicaciones a través de cuya red se distribuye esta aplicación (si correspondiera), y todo tercero registrado como comerciante para una operación relacionada con esta Aplicación (en conjunto, las "Partes Exentas de Responsabilidad") se eximen de toda responsabilidad relacionada con la Aplicación, incluso, entre otras, las relacionadas con la venta, distribución o uso de la Aplicación, o el funcionamiento o no funcionamiento de ella.
      li Las Partes Exentas de Responsabilidad son los terceros beneficiarios de este artículo titulado "Blackberry – Research in Motion" de los Términos y Condiciones de Uso y Notificación de Privacidad y, una vez aceptados por usted, las Partes Exentas de Responsabilidad, como terceros beneficiarios, tendrán el derecho (y se entenderá que han aceptado dicho derecho) a exigirle el cumplimiento de este artículo.

    h2 Fuente Abierta.

    ul
      li Partes de esta Aplicación Copyright 2005-2008 Google/Android Open Source Project
      li iCarousel
      li Restkit
      li TouchJSON
      li Google+ iOS SDK
      li SDWebImage
      li NSString+HTML by Koolistov
      li MBProgressHUD by Matej Bukovinski
      li TSAlertView by Nick Hodapp aka Tom Swift
      li Facebook SDK
      li Twitter SDK

    p Los mencionados se encuentran autorizados bajo la Licencia Apache, Versión 2.0 (la "Licencia"); usted puede utilizar estos archivos solo en conformidad con la Licencia.

    p Puede obtener una copia de la licencia en: http://www.apache.org/licenses/LICENSE-2.0

    p A menos que fuera requerido por la ley aplicable, o acordado por escrito, el software distribuido bajo la Licencia se distribuye bajo la condición "EN EL ESTADO EN QUE SE ENCUENTRA, SIN GARANTÍAS NI CONDICIONES DE NINGUNA CLASE", sean éstas expresas o tácitas. Ver la Licencia para el idioma específico que rige las autorizaciones y limitaciones conforme a la Licencia.

    h2(id="mobile") Aviso legal y de privacidad de Vivanuncios Móvil

    p En este Aviso de privacidad de Vivanuncios Móvil se resumen los derechos de privacidad del usuario en lo que respecta a la recopilación y el uso por nuestra parte de sus datos personales. Es aplicable a Vivanuncios y los servicios de Vivanuncios Móvil (App). Mediante la instalación y el uso de esta App aceptas que utilicemos tus datos personales del modo resumido a continuación y descritodetalladamente en el texto íntegro de nuestra Política de privacidad, y accedes a respetar los términos de nuestras Condiciones de uso

    p Con el fin de aprovechar al máximo las ventajas de la App, en este aviso abreviado de eBay Móvil se enumeran las prácticas de recopilación de datos óptimas de la App. Podrás activar o modificar los parámetros de privacidad en función de la configuración de privacidad del teléfono. Contactar con eBay

  section

    table
      theader
        tr
          td Recopilación, revelación y protección de datos personales
          td ¿La aplicación hace o solicita que se haga lo siguiente?

      tbody
        tr
          td Si lo autorizas en tu dispositivo móvil, accederemos a tus datos de geolocalización para proporcionarte una experiencia personalizada
          td SI
        tr
          td Si lo autorizas en tu dispositivo móvil, accederemos a las imágenes guardadas en él para, por ejemplo, poner en venta un artículo de tu álbum de fotos
          td SI
        tr
          td Con miembros de nuestra familia empresarial para mejorar el contenido y los servicios y, por extensión, mejorar también tu experiencia
          td SI
        tr
          td Los proveedores de servicio contratados que nos ayudan a llevar a cabo nuestro negocio
          td SI
        tr
          td Con las fuerzas de seguridad del Estado o terceros debidamente autorizados para investigar las posibles actividades delictivas o infracciones de nuestras Condiciones de uso
          td SI
        tr
          td Protección de la información mediante la adopción de medidas de seguridad técnicas y administrativas con el fin de reducir los riesgos de uso indebido y pérdida de datos
          td SI


